:root {
  --bs-nav-pills-link-active-bg: #ff5733;
  --bs-nav-pills-link-active-color: white;
  --bs-nav-pills-link-hover-bg: #f8f9fa;
}

.nav-pills .nav-link.active {
  background-color: var(--bs-nav-pills-link-active-bg);
  color: var(--bs-nav-pills-link-active-color);
}

.nav-pills .nav-link:hover {
  background-color: var(--bs-nav-pills-link-hover-bg);
}
